
/* CSS Document */

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Arvo', serif; 
font-family: 'Marcellus SC', serif;
font-family: 'Coustard', serif;
font-family: 'Coustard', serif;
font-family: 'Marcellus SC', serif;
font-family: 'Laila', serif;
font-family: 'Scope One', serif;

h1,h2,h3,h4,h5,h6 {
 font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}

*/

/*body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif,'Laila', serif;
}*/

body {
    font-family: 'Roboto', sans-serif;
}

/*      NAVBAR      */
/*#navbar {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 54, 54, 0.8);
    color: rgba(0, 54, 54, 0.5);
}*/

/*      HEADER      */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
   }

/*#welcome-section {
    background-image: url(../img/foto3.jpg);
    filter: grayscale(50%);
    background-repeat: none;
    height: 100vh;
    background-size: cover;
    padding-top: 10vh;    
    margin-bottom: 4rem;
}*/

header.intro-head {
    background-image: url(../img/foto3.jpg);
    filter: grayscale(60%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;    
    padding-top: 20rem;
}



@media (min-width:768px) {
    header.intro-head h1 {
     font-size:3rem
    }
}
@media (min-width:992px) {
    header.intro-head h1 {
     font-size:3rem
    }
}
@media (min-width:1200px) {
    header.intro-head h1 {
     font-size:5rem
    }
}
    

/**//*
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.intro-display {
    margin-top: 300px;
    padding-bottom: 10px;
}

.intro-heading {
    font-size: 6vw;    
    color: aliceblue;
}
.intro-lead {
    font-size: 4vw;
    text-transform: uppercase;
    color: aliceblue;
}*/
/**/


/*      CONTENT     */

#services {
}

#icon {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    color: #343a40;
}
#icon-angle{
    font-size: 3rem;
    color: #343a40;
}

/*      PROJECTS        */
#projects {
    background-color: #343a40;
    color: #fff;
}

/*      CONTACT      */
#contact {
    background-color: #343a40;
}
.social-icons a {
    display: inline-block;    
    color: #fff !important;
    font-size: 3rem;
    margin-right: 1.5rem;
  }


/*      FOOTER      */
footer {
    color: #343a40;
}
.footer-icons a {
    color: #000 !important;
}



/************W3SCHOOL SNIPPET******COSTUMIZED*****/
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .5s ease;
  }
  
  .card:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/************W3SCHOOL SNIPPET******COSTUMIZED*****/





/* 

.jumbotron h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    color: white;
    text-shadow: 1px 1px 1px #000
}

.jumbotron p {
    font-family: 'Arvo', serif;
    font-size: 1.3rem;
    line-height: 1.3;
    text-shadow: 1px 1px 1px #000;
    padding-left: 0.2rem;
}

section h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    color: white;
    text-shadow: 1px 1px 1px #000
}

section p {
    font-family: 'Arvo', serif;
    font-size: 1.3rem;
    line-height: 1.3;
    text-shadow: 1px 1px 1px #000;
    padding-left: 0.2rem;
}

.display-1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    color: white;
    text-shadow: 1px 1px 1px #000    
}


.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.intro-display {
    margin-top: 300px;
    background-color: rgba(252, 252, 252, 0.5);
    padding-bottom: 10px;
}

.intro-heading {
    font-size: 6vw;    
    color: aliceblue;
}
.intro-lead {
    font-size: 4vw;
    text-transform: uppercase;
    color: aliceblue;
}

header.intro-head h1 {
    font-size: 2rem;
}
*/


